* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* nav bar starts */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: bolder;
}
.nav-title span {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 4rem;
}
nav ul li a {
  color: #474747;
  font-size: 2rem;

  text-decoration: none;
}
nav ul li button {
  padding: 1.8rem 3.5rem;
  border-radius: 0.5rem;
  background: #fd6e0a;
  outline: none;
  border: none;
  color: white;
}
/* nav bar ends */

/* header starts */

header {
  background: #fff8f3;
}
header {
  background: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: bottom right;
}
.hero-sec {
  padding: 3rem 3rem 0rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-sec div {
  margin-left: 20px;
}
.hero-sec div h3 {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.hero-sec div h1 {
  color: #181818;
  margin-top: 1.5rem;
  font-size: 85px;

  font-weight: 700;
}
.hero-sec div p {
  color: #757575;
  margin-top: 1.5rem;
  font-size: 16px;
}
.hero-sec .hero-btn1 {
  padding: 1.8rem 3.5rem;
  border-radius: 0.5rem;
  background: #fd6e0a;
  outline: none;
  border: none;
  color: white;
  margin-top: 1.5rem;
}
.hero-sec .hero-btn2 {
  padding: 1.8rem 3.5rem;
  border-radius: 0.5rem;
  background: #fd6e0a;
  outline: none;
  border: none;
  color: white;
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.hero-sec .hero-img {
  width: 420px;
  /* height: 676px; */
}
/* header ends */

/* main sec starts */
main {
  width: 1140px;
  margin: 0 auto;
}
.about {
  padding: 150px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}
.about-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.about-para {
  color: #757575;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-info {
  color: #757575;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
}
.info-description {
  color: #181818;
  font-weight: bold;
  margin-top: ;
}
/* main sec ends */
